.table{
    display: grid;
    grid-template-columns: 30% 70%;
}

.minicard{
    background-color: var(--save-color);
    color: white;
    border-radius: 4px;
    padding: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.promo_icon{
    font-size: 64px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.nombreC {
    color: var(--text-color);
    font-size: 20px;
}

.card{
    margin: 10px;
    border-bottom: 1px solid rgb(207, 202, 202);
    border-right: 1px solid rgb(207, 202, 202);
    border-top: 1px solid rgb(207, 202, 202);
    border-left: 1px solid rgb(207, 202, 202);
    border-radius: 4px;
}

.card_med{
    display: grid;
    justify-content: left;
}

.card_content{
    margin: 10px;
}

.content{
    padding: 10px;
    display: grid;
    grid-template-columns: 15% 85%;
}

.text{
    color: black;
    padding: 5px;
}

.rig{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

/* Tarjeta de fichas no aceptadas */
.card_not{
    
    color: var(--danger-color);
}

.card_not:hover{
    transition: 0.3s;    
    background-color: var(--danger-color-hover);
    transform: scale(1.02, 1.02);
}

.not_title{
    color: var(--danger-color);
}

/* Tarjeta para solicitudes de edicion */
.card_edit{
    color: var(--text-color);
}

.card_edit:hover{
    transition: 0.3s;    
    background-color: var(--bg-color-lg);
    transform: scale(1.02, 1.02);
}

.edit_title{
    color: var(--text-color);
}

/* Tarjeta promotores */
.card_promo{
    color: var(--purple-color);
}

.card_promo:hover{
    transition: 0.3s;    
    background-color: var(--purple-hover);
    transform: scale(1.02, 1.02);
}

.card_ficha{
    margin: 10px;
    border-bottom: 2px solid rgb(207, 202, 202);
    border-right: 2px solid rgb(207, 202, 202);
    border-top: 1px solid rgb(207, 202, 202);
    border-left: 1px solid rgb(207, 202, 202);
    border-radius: 4px;
    padding: 10px;
    display: flex;
    justify-content: left;
}

.promo_title{
    
    color: var(--purple-lg);
}

.nombreCP {
    color: var(--purple-lg);
    font-size: 20px;
    margin: 5px;
}

.btnDelete {
    padding: 12px;
    margin: 8px;
    font-size: 18px;
    color: var(--danger-color);
    border-radius: 4px;
    background-color: white;
    border: 1px solid var(--danger-color);
    transition: 0.3s;
}

.btnDelete:hover {
    transform: scale(1.05, 1.05);
    background-color: var(--danger-color);
    color: white;
}

.btnInfoSol {
    padding: 12px;
    margin: 8px;
    font-size: 18px;
    color: var(--naranja-color);
    border-radius: 4px;
    background-color: white;
    border: 1px solid var(--naranja-color);
    transition: 0.3s;
}

.btnInfoSol:hover {
    transform: scale(1.05, 1.05);
    background-color: var(--naranja-color);
    color: white;
}

@media screen and (max-width: 600px) {
    .card_edit, .card_promo, .card_not{
        height: 180px;
    }
    .text{
        transform: translate(-200px, 0);
    }
    
    .rig{
        transform: translate(40px, -50px);
    }
}