@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.materialIcons{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    
    
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    -webkit-font-smoothing: antialiased;
    
    text-rendering: optimizeLegibility;

    -moz-osx-font-smoothing: grayscale;

    font-feature-settings: 'liga';

}



.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tableFichas {
    overflow-y: auto;
}

.titleficha {
    color: var(--hover-color);
    font-size: 26px;
}

.nombreC {
    color: var(--main-color);
    font-size: 22px;
}

.textFich {
    font-size: 18px;
}

.etiquetas {
    display: inline-block;
    color: var(--main-color);
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    transition: 0.3s;
    color: white;
    background: linear-gradient(to right, var(--hover-color), var(--rightColor));
    background-attachment: fixed;
}

.etiquetas:hover {
    transform: scale(1.05, 1.05);
    background-color: var(--hover-color);

    color: white;
}

.btnLinkFicha {
    color: var(--main-color);
    transition: 0.3s;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    background-color: white;
    padding: 12px;
    font-size: 18px;
}

.btnLinkFicha:hover {
    background-color: var(--hover-color);
    color: white;
    transform: scale(1.05, 1.05);
}



/* Ficha unica, mostrar una unica ficha pues  */

.containerFicha {
    margin: 32px;

}

.base {
    background: linear-gradient(135deg, rgb(250, 230, 164, 0.3), rgb(175, 215, 248, 0.3));
    background-attachment: fixed;

}

.btnguardar {
    padding: 12px;
    margin: 8px;
    font-size: 18px;
    color: var(--save-color);
    border-radius: 4px;
    background-color: white;
    border: 1px solid var(--save-color);
    transition: 0.3s;
}

.btnguardar:hover {
    transform: scale(1.05, 1.05);
    background-color: var(--save-color);
    color: white;
}

.btnReporte {
    padding: 12px;
    margin: 8px;
    font-size: 18px;
    color: var(--danger-color);
    border-radius: 4px;
    background-color: white;
    border: 1px solid var(--danger-color);
    transition: 0.3s;
}

.btnReporte:hover {
    transform: scale(1.05, 1.05);
    background-color: var(--danger-color);
    color: white;
}

.btnSolicitud {
    padding: 12px;
    margin: 8px;
    font-size: 18px;
    color: var(--main-color);
    border-radius: 4px;
    background-color: white;
    border: 1px solid var(--main-color);
    transition: 0.3s;
}

.btnSolicitud:hover {
    transform: scale(1.05, 1.05);
    background-color: var(--hover-color);
    color: white;
}

.btnCalificar {
    padding: 12px;
    margin: 8px;
    font-size: 18px;
    color: var(--purple-color);
    border-radius: 4px;
    background-color: white;
    border: 1px solid var(--purple-color);
    transition: 0.3s;
}

.btnCalificar:hover {
    transform: scale(1.05, 1.05);
    background-color: var(--purple-color);
    color: white;
}

.division {
    color: var(--hover-secondary-color);
}

.titlefichaU {
    color: rgb(12, 82, 12);
    font-size: 24px;
    display: inline-block;
    margin: 5px;
}

.textU {
    font-size: 24px;
    display: inline-block;
    margin: 5px;
}

.titlefichaU2 {
    color: rgb(12, 82, 12);
    font-size: 20px;
    display: inline-block;
    margin: 5px;
}

.textU2 {
    font-size: 20px;
    display: inline-block;
    line-height: 24px;
    margin: 5px;
}

.textD {
    color: rgb(12, 82, 12);
    font-size: 20px;
    margin: 5px;
}

.lista {
    padding-left: 35px;
    font-size: 20px;
}

.fuentes {
    border-radius: 4px;
    padding: 16px;
    color: rgb(76, 76, 233);
    font-size: 18px;
}

.links {
    list-style: none;
    list-style-type: none;
}

/* Campos de texto */

.txtEtiquetas {
    margin-top: 5px;
    background-color: #e3e3e3;
    border: none;
    width: 50%;
    height: 26px;
    resize: none;
    padding: 5px;
    transition: 0.2s;
    border: 1px solid black;
}

.txtEtiquetas:hover {
    background-color: #dbdbdb;
    
}

.txtEtiquetas:focus {
    outline: none;
    
    border: 1px rgb(0, 0, 0);
    border: 1px solid black;
}

.txtEtiquetas:active {
    outline: none;
    
    border: 1px rgb(0, 0, 0);
    border: 1px solid black;
}

.txtNombres {
    margin-top: 5px;
    background-color: #e3e3e3;
    border: none;
    width: 30%;
    min-width: max-content;
    height: 25px;
    resize: none;
    padding: 5px;
    transition: 0.2s;
}

.txtNombres:hover {
    background-color: #dfdfdf;
}

.txtNombres:focus {
    outline: none;
    border-radius: 10px;
    border: 1px rgb(0, 0, 0)
}

.txtNombres:active {
    outline: none;
    border-radius: 10px;
    border: 1px rgb(0, 0, 0)
}

.txtBody {
    margin-top: 5px;
    background-color: #e3e3e3;
    border: none;
    width: 100%;
    height: 150px;
    resize: none;
    padding: 5px;
    transition: 0.2s;
}

.txtBody:hover {
    background-color: #dfdfdf;
}

.txtBody:focus {
    outline: none;
    border-radius: 10px;
    border: 1px rgb(0, 0, 0)
}

.txtBody:active {
    outline: none;
    border-radius: 10px;
    border: 1px rgb(0, 0, 0)
}

.txtRef {
    margin-top: 5px;
    background-color: #e3e3e3;
    border: none;
    width: 75%;
    height: 60px;
    resize: none;
    padding: 5px;
    transition: 0.2s;
}

.txtRef:hover {
    background-color: #dfdfdf;
}

.txtRef:focus {
    outline: none;
    border-radius: 10px;
    border: 1px rgb(0, 0, 0)
}

.txtRef:active {
    outline: none;
    border-radius: 10px;
    border: 1px rgb(0, 0, 0)
}

.inputImg {
    margin-top: 5px;
    background-color: #f0f0f0;
    border: none;
    width: 133px;

    resize: none;

    transition: 0.2s;
}



.inputImg:hover {
    background-color: #dfdfdf;
    padding: 5px;
    width: 143px;
}

.inputImg:hover {
    outline: none;

    border: 1px rgb(0, 0, 0)
}

.inputImg:active {
    outline: none;
    background-color: #ffffff;
    border-radius: 2.5px;
    border: 1px solid black;
    border: 1px rgb(0, 0, 0)
}

.text_danger{
    color: var(--danger-color);
    font-size: 19px;
}

.buscar_btn{
    color: var(--naranja-color);
    transition: 0.3s;
    border: 1px solid var(--naranja-color);
    border-radius: 4px;
    background-color: white;
    padding: 12px;
    font-size: 18px;
}

.buscar_btn:hover{
    background-color: var(--naranja-color);
    transform: scale(1.05, 1.05);
    color: white;
}

/* Comentarios */

.commentArea{
    
    width: 80%;
    height: max-content;
    padding: 5px;
    padding-left: 20px;
    
}

.btnEnviar{
    transform: translate(15px, -8px);
    width: 64px;
    height: 26px;
    background: linear-gradient(to right, var(--hover-color), var(--rightColor));
    background-attachment: fixed;
    border: none;
    
    transition: 0.3s;
}

    .btnEnviar:hover{
        border-radius: 10px;
        text-shadow: 0px 0px 3px #f2f2f2;
    }

/* Area de comentarios */

.comBox{
    background: linear-gradient(135deg,  rgba(182, 224, 84, 0.4),rgba(255, 229, 146, 0.4));
    background-attachment: fixed;
    margin-bottom: 15px;
    width: 123%;
    transition: 0.3s;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0px 0px 4px rgb(125, 125, 125);
}

.com_Info{
    color:rgb(50,50,50);
    font-size: 90%;
}

.com_Body{
    font-size: 115%;

}

.com_Del{
    background-color: white;
    border: 1px solid var(--danger-color);
    color: var(--danger-color);
    padding: 12px;
    margin-bottom: 19px;
    transition: 0.3s;
    border-radius: 4px;
    font-size: 15px;
    margin-right: 19px;
}

.com_Del:hover {
    
    background-color: var(--danger-color);
    color: white;
}

.com_Report{
    background-color: white;
    border: 1px solid var(--danger-color);
    color: var(--danger-color);
    padding: 5px;
    margin-bottom: 19px;
    height: 42.5px;
    transition: 0.3s;
    border-radius: 4px;
    font-size: 15px;
    transform: translate(0px, 4.5px);
}

.com_Report:hover {
    
    background-color: var(--danger-color);
    color: white;
}