
.head {
    background-image: linear-gradient(to top, rgba(99, 164, 63, 0.9) 0%, rgba(90, 149, 57, 0.85) 100%), url(../src/head_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 7px rgb(50, 50, 50);
}

.bgimagen {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.85) 100%), url(../src/head_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat; 
}

.head div {
    margin-left: 18px;
    margin-right: 20px;
    margin-bottom: 18px;
}

.botonera {
    margin-top: 15px;
}
/*
.menuButton {
    background-image: linear-gradient(to top, rgba(66, 167, 66, 0.9) 0%, rgba(25, 110, 25, 0.9) 100%), url(../src/head_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-left: 10px;
    border-radius: 4px;
    width: 12vw;
    min-width: max-content;
*/
    /* height: 85px; */
/*
    padding: 10px;
    font-size: 16px;
    color: white;
    border: 0;
    transition: 0.3s;
    
}
*/

/*
.menuButton:hover {
    background-image: linear-gradient(to top, rgba(80, 175, 80, 0.8) 0%rgba(80, 175, 80, 0.8) 100%), url(../src/head_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
    margin-left: 20px;
    cursor: pointer;
    background-color: var(--hover-color);
}
*/

/*Dropdown*/

/* Dropdown (Botón) */
.dropbtn {

    background-image: linear-gradient(to top, rgba(102, 168, 66, 0.9) 0%, rgba(102, 165, 65, 0.85) 100%), url(../src/head_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 16px;
    margin-top: 20px;
    font-size: 16px;
    width: 150px;
    height: 50px;
    border: none;
    cursor: pointer;
    
}
  
    /* Mostrar el contenido del dropdown */
    .dropdown:hover .dropdownContent {
        display: block;
    }

    /* Cambiar el color del botón principal */
    .dropdown:hover .dropbtn {
        background-image: linear-gradient(to top, rgba(137, 206, 100, 0.9) 0%, rgba(137, 206, 100, 0.9) 100%), url(../src/head_bg.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        text-shadow: 0px 0px 3px rgb(250, 250, 250);
        
    }

  /* Posicionar el <div> */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown (Contenido) */
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translate(-18px,0);
}

/* Links del dropdown */
.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Cambiar el color de los links dropdown con hover */
.dropdownContent a:hover {
    background-color: #f1f1f1;
    
}



/* Logo */

.logo1{

    margin-top: 18px;

}