.header {
    width: 100%;

    align-items: center;
    text-align: center;
    justify-content: space-between;
    transition: 0.3s;

}



/* container principal */

.container {
    background-color: rgb(240,240,240);
    padding-top: 1vh;
    padding-left: 4vw;
    padding-right: 4vw;
    transition: 0.3s ease-in-out;
    padding-bottom: 4vh;
}

/* Registrar Sucursales */

.registrarSucursales{
    display: inline-flexbox;
    width: 85%;
    margin-top: 25px;
    
    padding: 2.5vh;
    border-radius: 10px;
    background-color: rgba(150, 150, 150, 0.3);
    text-align: center;
    transition: 0.3s;
    
}

.checkContainer{
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
    
}

/* Sucursales */

.sucursales{
    margin-top: 50px;
    margin-bottom: 50px;
}
/*
.cardSucursal{

}
*/
/*Elementos del Form de registro*/


    .input{
        width: 90%;
        height: auto;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 30px;
        margin-bottom:15px;
        transition: 0.3s;
        border: 0;
        font-size: 18px;
        background-color: rgba(150, 150, 150, 0.0);
        outline: none;
        border-bottom: 3px solid var(--main-color);
        border-radius: 4px 4px 0 0;
    }

    .input:hover{
        background-color: rgba(150, 150, 150, 0.2);
    }

    .input:focus{
        background-color: rgba(255,255,255,0.5); 
    
    }

    .mini_input{
        width: 75%;
        height: auto;

        margin-top: 10px;
        margin-bottom:10px;
        transition: 0.3s;
        border: 0;
        font-size: 16px;
        background-color: rgba(150, 150, 150, 0.0);
        outline: none;
        border-bottom: 3px solid var(--main-color);
        border-radius: 4px 4px 0 0;
    }

    .mini_input:hover{
        background-color: rgba(150, 150, 150, 0.2);
    }

    .mini_input:focus{
        background-color: rgba(255,255,255,0.5); 
    }



    .dia{
        color:black;
        font-size:20px;
        text-shadow: 0px 0px 3px rgb(75,75,75);
        height: 2px;
    }

   




/* contenedor de la sucursal */

.sucursal{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.fichaSucursal{
    background-color: white;
    width: 47.5%;
    padding: 1%;
    box-shadow: 2px 2px 5px rgb(150, 150, 150);
    transition: 0.3s;
    display: flex;
    justify-content: space-between;

}

.btnEdit{
    background-color: white;
    border:none;
    margin-bottom: 15px;
    margin-top: 15px;
}

.btnDel{
    background-color: white;
    border:none;
}


/* botonera */
/*
.btnMenu {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid rgb(250,250,250);
    background-color: rgb(250,250,250);
    width: 25%;
    min-width: max-content;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.2s ease-in-out;
}

.btnMenu:hover {
    background-color: rgba(117, 2, 211, 0.2);
    color: rgb(117, 2, 211);
    border-bottom: 2px solid rgba(117, 2, 211, 0.2);
    text-shadow: 0px 0px 3px rgb(201, 201, 201);
}

.btnMenu:active {
    background-color: rgba(140, 0, 255, 0.2);

    border-bottom: 2px solid rgba(140, 0, 255, 0.2);
    color: rgb(140, 0, 255);


}
*/

.btnMenu {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid rgb(240,240,240);
    background-color: rgb(240,240,240);
    width: 25%;
    min-width: max-content;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.1s ease-in-out;
}

    .btnMenu:hover {
        
        color: var(--text-color);
        border-bottom: 2px solid var(--main-color);
        text-shadow: 0px 0px 3px rgb(180, 180, 180);
    }

    

.btnSign {
    border: 1px solid var(--main-color);
    color: var(--main-color);
    background-color: white;
    width: 20vw;
    min-width: max-content;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
    transition: 0.2s;
    
}

.btnSign:hover {
    transform: scale(1.05, 1.05);
    background-color: var(--main-color);
    color: white;
}

.bar{
    border: 1px solid var(--main-color);
    margin: 15px;
}

.question {
    color: var(--text-color);
    font-size: 26px;
}

.link {
    color: var(--text-color);
    transition: 0.3s;
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
}

.link:hover {
    color: white;
    transform: scale(1.05, 1.05);
    background-color: var(--text-color);
}

#map {
	height: 500px;
	width: 100%;
}

@media screen and (max-width: 600px) {
    .input, .placeholder {
      width: 80%;
      margin-top: 25px;
    }

    .checkContainer{
        display: inline-block;
    }

    .mini_input{
        margin-left: 20px;
        width: 50%;
    }
    
    .sucursal{
        display: inline-block;
    }

    .fichaSucursal{
        margin-bottom: 25px;
        width: 100%;

    }


}