.header {
    width: 100%;

    align-items: center;
    text-align: center;
    justify-content: space-between;
    transition: 0.3s;

}

/* container principal */

.container {
    background-color: rgb(250,250,250);
    padding-top: 1vh;
    padding-left: 4vw;
    padding-right: 4vw;
    transition: 0.3s ease-in-out;
    margin-bottom: 100px;
}

/* botonera */
/*
.btnMenu {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid rgb(250,250,250);
    background-color: rgb(250,250,250);
    width: 25%;
    min-width: max-content;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.2s ease-in-out;
}

.btnMenu:hover {
    background-color: rgba(117, 2, 211, 0.2);
    color: rgb(117, 2, 211);
    border-bottom: 2px solid rgba(117, 2, 211, 0.2);
    text-shadow: 0px 0px 3px rgb(201, 201, 201);
}

.btnMenu:active {
    background-color: rgba(140, 0, 255, 0.2);

    border-bottom: 2px solid rgba(140, 0, 255, 0.2);
    color: rgb(140, 0, 255);


}
*/

.btnMenu {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid rgb(250,250,250);
    background-color: rgb(250,250,250);
    width: 25%;
    min-width: max-content;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.2s ease-in-out;
}

    .btnMenu:hover {
        background-color: rgba(150, 150, 150, 0.3);
        color: var(--text-color);
        border-bottom: 2px solid var(--main-color);
        text-shadow: 0px 0px 3px rgb(201, 201, 201);
    }

    

.btnSign {
    border: 2px solid var(--main-color);
    color: var(--main-color);
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    transition: 0.2s;
}

.btnSign:hover {
    transform: scale(1.05, 1.05);
    background-color: var(--main-color);
    color: white;
}


.cuestion {
    color: var(--text-color);
    font-size: 26px;
}

.link {
    color: var(--text-color);
    transition: 0.3s;
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
}

.link:hover {
    color: white;
    transform: scale(1.05, 1.05);
    background-color: var(--text-color);
}