.header {
    width: 100%;
    background-color: rgb(240, 240, 240);
    align-items: center;
    text-align: center;
    justify-content: space-between;
    transition: 0.3s;

}



/* container principal */

.container {
    background-color: rgb(240, 240, 240);
    padding-top: 1vh;
    padding-left: 4vw;
    padding-right: 4vw;
    transition: 0.3s ease-in-out;
    padding-bottom: 4vh;
}

/* Registrar Sucursales */

.registrar {
    display: inline-flexbox;
    width: 90%;
    margin-top: 25px;

    padding: 2.5vh;
    border-radius: 10px;
    background-color: rgba(180, 180, 180, 0.3);
    text-align: center;
    transition: 0.3s;

}

.checkContainer {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    transition: 0.3s;

}

/* Sucursales */

.sucursales {
    margin-top: 50px;
    margin-bottom: 50px;
}

/*
.cardSucursal{

}
*/
/*Elementos del Form de registro*/


.input {
    width: 90%;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;
    margin-bottom: 15px;
    transition: 0.3s;
    border: 0;
    font-size: 18px;
    background-color: rgba(150, 150, 150, 0.0);
    outline: none;
    border-bottom: 3px solid var(--main-color);
    border-radius: 4px 4px 0 0;
}

.input:hover {
    background-color: rgba(150, 150, 150, 0.2);
}

.input:focus {
    background-color: rgba(255, 255, 255, 0.5);

}

.direccion {
    width: 18%;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;
    margin-bottom: 15px;
    transition: 0.3s;
    border: 0;
    font-size: 18px;
    background-color: rgba(150, 150, 150, 0.0);
    outline: none;
    border-bottom: 3px solid var(--main-color);
    border-radius: 4px 4px 0 0;
}

.direccion:hover {
    background-color: rgba(150, 150, 150, 0.2);
}

.direccion:focus {
    background-color: rgba(255, 255, 255, 0.5);

}


.mini_input {
    width: 50%;
    height: auto;

    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.3s;
    border: 0;
    font-size: 16px;
    background-color: rgba(150, 150, 150, 0.0);
    outline: none;
    border-bottom: 3px solid var(--main-color);
    border-radius: 4px 4px 0 0;
}

.mini_input:hover {
    background-color: rgba(150, 150, 150, 0.2);
}

.mini_input:focus {
    background-color: rgba(255, 255, 255, 0.5);
}



.dia {
    color: black;
    font-size: 20px;
    text-shadow: 0px 0px 3px rgb(75, 75, 75);
    height: 2px;
}


.errors {
    color: red;
    margin: 0;
}




/* contenedor de la sucursal */

.fichero {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ficha {
    background-color: white;
    /* width: 47.5%; */
    width: 47%;
    margin:5px;
    padding: 1%;
    box-shadow: 2px 2px 5px rgb(150, 150, 150);
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
}

.fichaImagen{
    
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.Image{
    
    transition: 0.3s;
    margin: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}


.imagen_cuadrada {
    border-radius: 10px;
    transition: 0.3s;
    margin: 10px;
    margin-right: 10%;
}


.imagen_cuadrada:hover {
    transform: scale(1.2, 1.2);
    border-radius: 0;
}


.nombreProducto{
    margin-left: 110%;

}

.btnEdit {
    background-color: white;
    border: none;
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.btnEdit:hover {
    transform: scale(1.2, 1.2);
}
/* Ficha Única */

.fichaUnica{
    background-color: rgb(250,250,250);
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    box-shadow:2px 2px 5px rgb(150, 150, 150);
    padding: 3vw;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}


/* botonera */
/*
.btnMenu {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid rgb(250,250,250);
    background-color: rgb(250,250,250);
    width: 25%;
    min-width: max-content;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.2s ease-in-out;
}

.btnMenu:hover {
    background-color: rgba(117, 2, 211, 0.2);
    color: rgb(117, 2, 211);
    border-bottom: 2px solid rgba(117, 2, 211, 0.2);
    text-shadow: 0px 0px 3px rgb(201, 201, 201);
}

.btnMenu:active {
    background-color: rgba(140, 0, 255, 0.2);

    border-bottom: 2px solid rgba(140, 0, 255, 0.2);
    color: rgb(140, 0, 255);


}
*/


.btnMenu {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid rgb(240, 240, 240);
    background-color: rgb(240, 240, 240);
    width: 25%;
    min-width: max-content;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.1s ease-in-out;
}

.btnMenu:hover {

    color: var(--text-color);
    border-bottom: 2px solid var(--main-color);
    text-shadow: 0px 0px 3px rgb(180, 180, 180);
}



.btnSign {
    border: 1px solid var(--main-color);
    color: var(--main-color);
    background-color: white;
    width: 20vw;
    min-width: max-content;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
    transition: 0.2s;

}

.btnSign:hover {
    transform: scale(1.05, 1.05);
    background-color: var(--main-color);
    color: white;
}

.bar {
    border: 1px solid var(--main-color);
    margin: 15px;
}

.question {
    color: var(--text-color);
    font-size: 26px;
}

.link {
    color: var(--text-color);
    transition: 0.3s;
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
}

.link:hover {
    color: white;
    transform: scale(1.05, 1.05);
    background-color: var(--text-color);
}

#map {
    height: 500px;
    width: 100%;
}

/* Comentario */
.comtainer{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.comentarioRender{
    width: 47%;
    background-color: rgb(222,222,222);
    margin-top: 20px;
    border-radius:5px;
    padding: 20px;
    transition: 0.3s;
}
    
    .comentarioRender:hover{
        background-color: white;
        box-shadow: 2px 2px 3px rgb(150, 150, 150);
    }

    .comentarioRender h2{
        margin:0;
    }

.inputComentario{
    border:none;
    width: 70%;
    height: 38px;
    font-size: 18px;
    border-bottom: 3px solid var(--main-color);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: rgb(240, 240, 240);
    outline: none;
    border-radius: 4px 4px 0 0;
    transition: 0.2s;
}

.inputComentario:hover {
    background-color: white;
    
    
}

.borrar_comentario{
    color: var(--danger-color);
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}

.borrar_comentario:hover{
    transform: scale(1.02, 1.02);
}

@media screen and (max-width: 600px) {

    .input,
    .placeholder {
        width: 80%;
        margin-top: 25px;
    }

    .checkContainer {
        display: inline-block;
    }

    .mini_input {
        margin-left: 20px;
        width: 50%;
    }

    .fichero {
        display: inline-block;
    }

    .ficha {
        margin-bottom: 25px;
        width: 100%;

    }

    .errors {
        font-size: 12px;
    }

    .nombreProducto{
        transform: translate(-5%,0);
        font-size: 48px;
    }

    /*Comentario*/
    .comtainer{
        display: inline-block;
    }

    .comentarioRender{
        width: 100%;
    }

    .imagen_cuadrada{
        transform: scale(0.7,0.7);
    }

    .nombreProducto{
        margin-left: 2.5%;
    }

}

